    
    body{
        font-family: cursive;
        background-color: black;
        
    }
    h1{
        margin-top: 35px;
        font-size: 4vw;  
        color: blanchedalmond; 
    }
    .row1{
        margin-top: 40px;
        color:brown;
        font-size: 18px;
    }
    img{
        height: 100%;
        width: 100%;

    }
    .container1{
        margin-top: 20px;
    }
    